SUPABASE_URL=
SUPABASE_LOCAL_URL=
SUPABASE_ANON_KEY=
SUPABASE_LOCAL_ANON_KEY=
GOOGLE_SIGN_CLIENT_ID=
GOOGLE_SIGN_SERVER_CLIENT_ID=
SENTRY_DSN=
POWERSYNC_URL=
POWERSYNC_ANDROID_LOCAL_URL=
POWERSYNC_IOS_LOCAL_URL=